[submodule "deep_sort"]
	path = deep_sort
	url = https://github.com/zyerusha/deep_sort
[submodule "tensorflow_yolov4_tflite"]
	path = tensorflow_yolov4_tflite
	url = https://github.com/zyerusha/tensorflow-yolov4-tflite
[submodule "yolo/darknet"]
	path = yolo/darknet
	url = https://github.com/zyerusha/darknet
