absl-py==1.0.0
appdirs==1.4.4
argh==0.26.2
inflection==0.5.1
jedi==0.17.2
keras==2.7.0
Keras-Preprocessing==1.1.2
oauthlib==3.1.1
opencv-python==4.5.5.62
opt-einsum==3.3.0
parso==0.7.1
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==8.4.0
pkginfo==1.7.1
pyscreenshot==3.0
pytest==6.2.4
tensorflow==2.7.0
urllib3==1.26.7
easydict
pandas
scipy
matplotlib
pyyaml
apscheduler