<!doctype html>
<html lang="en">
    <title>Processing Video</title>

    <body>
        <h3 style="color: black">
            Your patience is greatly appreciated, processing the entire video can take several minutes. <br><br>
            This screen will change, letting you know once it's done.<br><br>
            In the meantime, grab a cup of coffee or something. <br><br><br>
            That's what I usually do...
        </h3>
        <h1 style="color: black">
            :)
        </h1>

    </body>

</html>