<!doctype html>
<html lang="en">
  <title>Welcome to DeepOVel</title>

  <body>
    <h1 style="color: rgb(255, 0, 0)">
      <p>
        Deep Velocity of Object in Video (DeepVoV)<br><br>
        Deep Object Velocity in Video (DeepOVV)<br><br>
        Deep Object Velocity in Video (DeepOVel)<br><br>
      </p>
      </h>
      <h4 style="color: black">
        Please upload an .mp4 video file for processing:
      </h4>

      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
  </body>

</html>