<!doctype html>
<html lang="en" Content-Range: bytes 0-10000/2445339>
    <title>DeepOVel: Done</title>

    <body>
        <h3 style="color: black">
            <p> The processing of the video is now complete!!! <br><br>
                Your video with velocity estimations is ready for you to
                <a href="{{ url_for('download', filename=filename) }}">download</a>.<br><br>
                Thank you. <br>
                <img src="\static\videos\gifs\1.gif" height="100" />
            </p>
        </h3>

        <img src="\static\videos\gifs\2.gif" height="150" />
        <img src="\static\videos\gifs\3.gif" height="150" />
        <img src="\static\videos\gifs\4.gif" height="150" />
        <img src="\static\videos\gifs\5.gif" height="150" />
        <img src="\static\videos\gifs\6.gif" height="150" />
        <img src="\static\videos\gifs\7.gif" height="150" />
        <img src="\static\videos\gifs\8.gif" height="150" />

    </body>

</html>