<!doctype html>
<html lang="en">
    <title>Processing Done</title>

    <body>
        <h3 style="color: black">
            <p> The processing of the video is now complete!!! <br><br>
                Your video with velocity estimations is ready for you to
                <a href="{{ url_for('download', filename=filename) }}">download</a>.<br><br>
                Thank you. <br>
            </p>
        </h3>
        <video width="640" height="480" autoplay muted loop>
            <source src="\static\videos\au_air.mp4" type="video/mp4">
        </video>
        <video width="640" height="480" autoplay muted loop>
            <source src="\static\videos\au_air_vel.mp4" type="video/mp4">
        </video>
        <video width="640" height="480" autoplay muted loop>
            <source src="\static\videos\au_air_yolo.mp4" type="video/mp4">
        </video>
    </body>

</html>